.cardRoot {
    width: 320px;
    height: auto;
    margin: 10px;
    margin: 0 auto;
    margin-bottom: 3rem;
    margin-top: 2rem;
}

.cardMedia {
    width: 100%;
    height: 240px;
    object-fit: cover;
}

.title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    padding: 0px 5px 0px 20px;
    font-weight: 400;
    font-size: 1.8rem;
    color: rgb(78, 76, 76);
    height: 70px;
}

.title:hover{
    overflow: visible;
}

.album {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    padding: 0px 20px 0px 20px;
    font-weight: 300;
    font-size: 1rem;
    color: rgb(82, 76, 76);
}

.iconBox {
    width: 90%;
    margin-top: 50px;
    padding: 10px;
    text-align: right;
}

.iconFav {
    position: relative;
    width: 40px;
    height: 40px;
}

.iconFavIn {
    padding-top: 7px;
}