.generalGrid {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cardGrid {
  flex-grow: 3;
}


.cardGrid div{
  width: 400px;
  height: auto;
  margin: 20px;
}

.cardMedia{
  width: 100px;
}